<!-- ejs file >>> our html file -->
<!-- An EJS file contains code written in the Embedded JavaScript (EJS) templating language -->
<!-- npm install ejs -->

<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom Clone</title>
    <link rel='stylesheet' href="style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script>
        const ROOM_ID = '<%= roomId %>';
        // console.log('<%= roomId %>') //check the roomId in the console
        </script>
</head>
<body>
    <div id="video-grid">
        
    </div>
    <script src="script.js"></script>
</body>
</html>